<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="data-viewer-table" version="1.0.1">
  <details>
    <title>Data Viewer (Table)</title>
    <email>wirecloud@conwet.com</email>
    <image>images/catalogue.png</image>
    <description>This widget allows you to view data in a table</description>
    <authors>Aitor Magán &lt;amagan@conwet.com&gt;</authors>
    <contributors>Álvaro Arranz García &lt;aarranz@conwet.com&gt;</contributors>
  </details>
  <wiring>
    <inputendpoint name="dataset" type="text" label="Data and Structure" description="A JSON with two fields: structure (for the structure of the data) and data (the data ifself)" actionlabel="Data and Structure" friendcode="dataset"/>
  </wiring>
  <contents src="index.html" useplatformstyle="true"/>
  <rendering height="37" width="15"/>
</widget>
